pandas
numpy
scikit-learn
xgboost

# MLOps
mlflow
dvc[s3]
evidently

# API
fastapi
uvicorn[standard]
pydantic
pydantic-settings

# Storage
boto3
psycopg2-binary

# Configuration
python-dotenv

# Monitoring
prometheus-client

# Utilities
requests
pyyaml
